.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
}

.column-halves {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.start {
  height: 40px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}
