.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
}

.start-view {
  height: 100vh;
}

.column-halves {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.start {
  height: 40px;
}

.cat-quiz {
  position: absolute;
  right: 0;
  left: 0;
  top: 160px;
  z-index: 1;
}

.next-icon {
  position: absolute;
  right: 0;
  left: 0;
  top: 530px;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}
