.hidden {
  display: none;
}

header {
  color: white;
  background-color: #0081b9;
}

p {
  font-size: x-large;
}

p,
button {
  letter-spacing: 2px;
}

button {
  border: none;
  border-radius: 5px;
  color: white;
  font-size: large;
  cursor: pointer;
  box-shadow: 0 3px 10px rgb(85, 85, 85);
  background-color: #e12727;
}

.banner {
  display: flex;
  justify-content: center;
}

.cat-holder,
.quiz {
  width: 300px;
  margin: 0 auto;
  padding-bottom: 15px;
}

input {
  display: flex;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  justify-content: center;
}

img {
  width: 100%;
}
